.carousel {
  position: relative;
  padding: 0 $pd-12;
  min-height: 625px;
  background: $color-bg-3;

  .carousel-cover {
    position: relative;
    overflow: hidden;
    min-height: 525px;
    top: 100px;
    left: 0;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    color: $color-template-hot-2;
    letter-spacing: $leter-spacing-2;
    .banner-left {
      width: 40%;
      padding-bottom: $pd-4;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      h4 {
        font-weight: $fw-500;
      }
      .typing-wrap {
        display: flex;
        height: 20%;
        .typing-text {
          font-size: $fs-7;
          font-weight: $fw-700;
          text-transform: capitalize;
          font-family: monospace;
          position: relative;
          &::after {
            content: "";
            position: absolute;
            right: -3px;
            height: 50px;
            width: 2px;
            background: $color-template-hot-2;
            transition: all 0.5s;
            opacity: 1;
            animation: blind-cursor 0.5s forwards infinite;
          }
        }
      }
      .downloadCV {
        background: $color-bg-4;
        font-size: $fs-1;
        width: 200px;
        padding: $pd-3 $pd-2;
        margin-left: $mg-1;
        text-align: center;
        border-radius: 50px;
        border-top: 2px solid rgba(255, 255, 255, 0.8);
        border-left: 2px solid rgba(255, 255, 255, 0.8);
        color: #fff;
        backdrop-filter: blur(5px);
      }
    }
    .banner-right {
      position: relative;
      width: 59%;
      .photo-me {
        position: absolute;
        bottom: 10px;
        top: 10%;
        left: 30%;
        width: 100%;
        height: 100%;
        // overflow: hidden;
        animation: fadeInUp 2s forwards;
        &::after {
          content: "";
          position: absolute;
          top: 0;
          left: -80px;
          z-index: -1;
          width: 460px;
          height: 460px;
          border-radius: 50%;
          background: $color-bg-4;
        }
        img {
          width: auto;
          height: 100%;
        }
      }
      .social-link {
        position: absolute;
        top: 0;
        right: 20px;
        bottom: 0;
        height: 100%;
        animation: backInUp 2s forwards;
        .social-icons {
          height: 100%;
          padding: $pd-10 0;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          ul {
            height: 74%;
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            &:hover {
              .social-item {
                transform: scale(0.8);
              }
            }
            .social-item {
              list-style-type: none;
              font-size: $fs-2;
              border: 2px solid $color-template-hot-2;
              width: 40px;
              height: 40px;
              border-radius: 50%;
              display: inline-block;
              display: flex;
              justify-content: center;
              align-items: center;
              cursor: pointer;
              transition: all 0.4s;
              position: relative;
              &:hover {
                border: 2px solid $color-template-hot-1;
                background-color: $color-template-hot-1;
                transform: scale(1.2);
                // animation: rotateIcon 0.8s linear;
                .tooltip {
                  transform: translateY(0) rotate(0) scale(0.9);
                  // transform-origin: center center;
                  visibility: visible;
                  opacity: 1;
                }
              }
              &:hover a {
                color: #fff;
              }
              a {
                color: $color-template-hot-2;
                line-height: 40px;
                text-align: center;
              }
            }
          }
          .links {
            position: relative;
            bottom: 0;
            font-size: $fs-3;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            display: inline-block;
            display: flex;
            justify-content: center;
            align-items: center;
            color: #fff;
            background: $color-bg-4;
            cursor: pointer;
            &:hover {
              animation: heartBeat 2s ease infinite;
              .tooltip {
                transform: translateY(0) rotate(0) scale(0.9);
                // transform-origin: center center;
                visibility: visible;
                opacity: 1;
                color: black;
              }
            }
          }
        }
      }
    }
  }
}
.tooltip {
  position: absolute;
  left: -130px;
  width: 115px;
  text-align: center;
  padding: $pd-1;
  font-size: $fs-1;
  font-weight: $fw-500;
  border-radius: 5px;
  border-bottom: 1px solid $color-bg-filter-1;
  border-right: 1px solid $color-bg-filter-1;
  background-color: $color-bg-filter-1;
  backdrop-filter: blur(5px);
  box-shadow: 12px 12px 12px $color-sha-1;
  transform: translateY(-50%) rotate(45deg) scale(0.6);
  transform-origin: 6rem 3rem;
  visibility: hidden;
  opacity: 0;
  transition: all 0.4s;
}
.tooltip-active {
  transform: translateX(1000%);
}

// Responsive
@media screen and(max-width: 768px) {
  .carousel {
    padding: 0 $pd-3;
    .carousel-cover {
      .banner-left {
        width: 98%;
        height: 100vh;
      }
      .banner-right {
        .photo-me {
          display: none;
        }
      }
    }
  }
}
@media screen and(max-width: 425px) {
  .carousel {
    padding: 0 $pd-3;
    .carousel-cover {
      .banner-left {
        width: 98%;
        height: 100vh;
        .typing-wrap {
          .typing-text {
            font-size: $fs-5;
          }
        }
        .bios {
          font-size: $fs-1;
        }
      }
      .banner-right {
        .photo-me {
          display: none;
        }
      }
    }
  }
}
