.portfolios {
  background-color: $color-bg-7;
  height: 625px;
  padding: $pd-12;
  .portfolio-cover {
    display: flex;
    justify-content: center;
    align-items: center;
    .portfolio-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .slider-content {
        border-radius: 30px;
        margin-top: $mg-7;
        position: relative;
        .sliders {
          position: relative;
          width: 600px;
          height: 380px;
          overflow: hidden;
          border-radius: 30px;
          .slider-item {
            overflow: hidden;
            position: absolute;
            top: 0;
            left: 0;
            z-index: -2;
            padding: $mg-5;
            overflow: hidden;
            box-shadow: inset 0 12px 14px rgba(0, 0, 0, 0.3);
            border-right: 1px solid rgba(255, 255, 255, 0.3);
            border-bottom: 1px solid rgba(255, 255, 255, 0.3);
            border-radius: 30px !important;
            animation: bounceInLeft 2s linear;
            &:hover {
              .overlay {
                visibility: visible;
                opacity: 1;
                animation: fadeIn 1s linear;
              }
            }
            .overlay {
              visibility: hidden;
              opacity: 0;
              transition: 0.4s;
              height: 100%;
              width: 100%;
              backdrop-filter: blur(10px);
              padding: $pd-5;
              border-right: 1px solid rgba(255, 255, 255, 0.3);
              border-bottom: 1px solid rgba(255, 255, 255, 0.3);
              border-radius: 30px;
              box-shadow: 0 12px 14px rgba(0, 0, 0, 0.3);
              .date-perform {
                color: $color-bg-4;
                padding: $pd-3;
                font-weight: $fw-500;
              }
              ul {
                margin-left: $pd-7;
              }
              .des-item {
                list-style: circle;
                margin-bottom: $mg-1;
              }
              .btns {
                margin-top: $pd-5;
                margin-left: $pd-7;
                display: flex;
                &:hover {
                  .item-btn {
                    transition: 0.4s;
                    transform: scale(0.8);
                    transform-origin: center center;
                  }
                }
                .item-btn {
                  width: 100px;
                  background-color: rgba(0, 0, 0, 0.3);
                  margin-right: $mg-2;
                  text-align: center;
                  padding: $pd-2;
                  border-radius: 20px;
                  cursor: pointer;
                  &:hover {
                    transform: scale(1);
                    transform-origin: center center;
                  }
                  a {
                    color: #fff;
                    text-decoration: none;
                  }
                }
              }
            }
          }
          .slider-item.one {
            background: url(../assets/img/cvonline.png) top center no-repeat;
            background-size: cover;
            border-radius: 30px;
            width: 600px;
            height: 380px;
          }
          .slider-item.two {
            background: url(../assets/img/elearning.png) top center no-repeat;
            background-size: cover;
            border-radius: 30px;
            width: 600px;
            height: 380px;
          }
        }
        .indicated {
          display: flex;
          position: absolute;
          bottom: -30px;
          left: 50%;
          transform: translateX(-50%);
          .dot {
            width: 10px;
            height: 10px;
            border-radius: 50%;
            background-color: rgba(0, 0, 0, 0.3);
            margin: $mg-1;
          }
        }
      }
      .prev-btn,
      .next-btn {
        padding: 0 $pd-10;
        transition: 0.4s;
        &:hover {
          transform: scale(1.4);
          .icon-arrow {
            color: #fff;
          }
        }
        .icon-arrow {
          transition: 0.4s;
          color: rgba(0, 0, 0, 0.3);
          font-size: $fs-4;
        }
      }
    }
  }
}
.slider-dot-active {
  background-color: #fff !important;
}

// Responsive
@media screen and(max-width: 375px) {
  .portfolios {
    height: 100vh;
    .portfolio-cover {
      .portfolio-container {
        .slider-content {
          .sliders {
            height: 500px;
            width: 300px;
            .slider-item.one,
            .slider-item.two {
              height: 100%;
              width: 300px;
              padding: 0;
              .overlay {
                visibility: visible;
                opacity: 1;
                .btns {
                  margin: 0;
                  margin-top: $mg-5;
                }
              }
            }
          }
        }
      }
    }
  }
}
